@import '../../assets/sass/variables';

.btn {
  background: $primary-color;
  font-family: 'Quantico', sans-serif;
  font-size: $font-size-large;
  color: $white;
  border-radius: 8px;
  padding: 0.625rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border: 1px solid $primary-color;
  transition: background-color .15s ease-in-out;

  span{
    margin: 0 .2rem;
  }

  &:hover {
    background: $primary-dark;
  }

  &:focus {
    outline: 0;
    background: $primary-dark;
  }
}
