@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Quantico/Quantico-Regular.ttf') format('ttf')
}

@font-face {
  font-family: 'Quantico';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Quantico/Quantico-Italic.ttf') format('ttf')
}

@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Quantico/Quantico-Bold.ttf') format('ttf')
}

@font-face {
  font-family: 'Quantico';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/Quantico/Quantico-BoldItalic.ttf') format('ttf')
}
