@import '../../assets/sass/variables';

a {
  font-size: $font-size-large;
  color: $white;
  text-decoration: none;
  transition: color .3s ease-in-out;
  display: block;
  padding: 1rem 0;

  @include min(map-get($breakpoints, 'md')) {
    display: inline;
    padding: 0;
  }

  &:hover {
    color: $link-color;
  }
}

